<?xml version="1.0"?>
<robot name="turtlebro">

  <material name="extra_dark">
    <color rgba="0.1 0.1 0.1 1.0"/>
  </material>
  <material name="dark">
    <color rgba="0.3 0.3 0.3 1.0"/>
  </material>
  <material name="light_black">
    <color rgba="0.4 0.4 0.4 1.0"/>
  </material>
  <material name="blue">
    <color rgba="0.1 0.2 0.8 1.0"/>
  </material>
  <material name="green">
    <color rgba="0.0 0.8 0.0 1.0"/>
  </material>
  <material name="white">
    <color rgba="0.9 0.9 0.9 1.0"/>
  </material>


  <joint name="base_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="0.0 0.0 0.035" rpy="0 0 0"/>
  </joint>

  <joint name="scan_joint" type="fixed">
    <parent link="base_link"/>
    <child link="base_laser"/>
    <origin xyz="0.0 0 0.095" rpy="0 0 3.1415"/>
  </joint>

  <joint name="imu_joint" type="fixed">
    <parent link="base_link"/>
    <child link="imu_link"/>
    <origin xyz="0.0 0 0.035" rpy="0 0 0"/>
  </joint>

  <joint name="camera_joint" type="fixed">
    <parent link="base_link"/>
    <child link="front_camera"/>
    <!--origin xyz="0.06 0 0.055" rpy="-1.570 0 -1.57"/-->
    <origin xyz="0.06 0 0.055" rpy="-1.98 0 -1.57075"/>
    <!-- <origin xyz="0.06 0 0.055" rpy="0 0.47 3.1415"/> -->
        <!-- <origin xyz="0.06 0 0.055" rpy="0 2.04 0"/> -->
  </joint>  

  <joint name="back_camera_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="back_camera"/>
    <!--origin xyz="0.06 0 0.055" rpy="-1.570 0 -1.57"/-->
    <origin xyz="-0.12 -0.06 0.25" rpy="-1.57075 0 1.57075"/>
    <!-- <origin xyz="0.06 0 0.055" rpy="0 0.47 3.1415"/> -->
        <!-- <origin xyz="0.06 0 0.055" rpy="0 2.04 0"/> -->
  </joint>    

  <joint name="wheel_left_joint" type="fixed">
    <parent link="base_link"/>
    <child link="wheel_left_link"/>
    <origin xyz="0 0.115 -0.005" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
  </joint>

  <joint name="wheel_right_joint" type="fixed">
    <parent link="base_link"/>
    <child link="wheel_right_link"/>
    <origin xyz="0 -0.115 -0.005" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
  </joint>  

  <link name="base_footprint"/>
  <link name="imu_link">
    <visual>
      <origin rpy="0 0 0" xyz="-0.03 0 0.0"/>
      <geometry>
        <box size="0.18 0.18 0.002"/>
      </geometry>
      <material name="blue"/>
    </visual>
  </link>

  <link name="front_camera">
    <visual>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.04 0.04 0.005"/>
      </geometry>
      <material name="extra_dark"/>
    </visual>
  </link>  
  
  <link name="back_camera">
    <visual>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.10 0.01 0.005"/>
      </geometry>
      <material name="extra_dark"/>
    </visual>
  </link>    

  <link name="base_link">
    <visual>
      <origin rpy="0 0 0" xyz="-0.03 0 0.0"/>
      <geometry>
        <box size="0.24 0.20 0.05"/>
      </geometry>
      <material name="extra_dark"/>
    </visual>
  </link>

  <link name="base_laser">
    <visual>
      <origin xyz="0 0 -0.03" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.0615" radius="0.04"/>
      </geometry>
      <material name="dark"/>
    </visual>
  </link>

  <link name="wheel_left_link">
    <visual>
      <origin xyz="0 0 0" rpy="1.57 0 0"/>
      <geometry>
        <cylinder length="0.025" radius="0.03"/>
      </geometry>
      <material name="dark"/>
    </visual>
  </link>  

  <link name="wheel_right_link">
    <visual>
      <origin xyz="0 0 0" rpy="1.57 0 0"/>
      <geometry>
        <cylinder length="0.025" radius="0.03"/>
      </geometry>
      <material name="dark"/>
    </visual>
  </link>    


</robot>
